*.log
*.pt
*.pth
*.pyc
*.txt
log/
fig/
RANSAC/
debug_cfg/
debug/**
tmp/**
__pycache__
**/__pycache__/
**/build/
**/dist/
models/tools/csrc/build
models/tools/csrc/csrc.egg-info
models/tools/csrc/dist
*.pyc
*.so
*.a
data/
data/** */
models/colmap/
models/tools/csrc/build/
models/tools/csrc/csrc.egg-info/
models/tools/csrc/*.so
models/lccnet/correlation_package/build/
models/lccnet/correlation_package/dist/
models/lccnet/correlation_package/correlation_cuda.egg-info/
experiments
archieve/
.vscode/
# experiments/debug
# experiments/large_ckpt
# experiments/regular
# experiments/surrogate

metrics_cmp.py
local_opt.py
sploss.py
test_custom.py
test_scn.py
tmp_table.txt
train_se3diff.py
train_surrogate.py
tmp/
debug_dataset.py
debug_model.py
save_feat.py
test_custom.py
extract_gt.py
fix_iter_res.py
bash_test_*.py
bash_metric_*.py