*.log
*.pt
*.pth
*.pyc
*.txt
log/
fig/
RANSAC/
debug_cfg/
core/__pycache__
data/
models/__pycache__/
models/tools/__pycache__/
models/tools/csrc/__pycache__/
models/tools/csrc/build/
models/tools/csrc/csrc.egg-info/
models/tools/csrc/*.so
models/*/__pycache__/
models/lccnet/correlation_package/__pycache__/
models/lccnet/correlation_package/build/
models/lccnet/correlation_package/dist/
models/lccnet/correlation_package/correlation_cuda.egg-info/
experiments
# experiments/debug
# experiments/large_ckpt
# experiments/regular
# experiments/surrogate
*/build/
*/__pycache__/
metrics_cmp.py
local_opt.py
sploss.py
test_custom.py
test_scn.py
tmp_table.txt
train_se3diff.py
tmp/
